name: Auto Update M3U

on:
  schedule:
    - cron: '0 0 * * *' # Jalan otomatis setiap jam 7 pagi WIB
  workflow_dispatch: # Tombol manual untuk tes

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'
      - name: Install Dependencies
        run: pip install requests
      - name: Run Update Script
        run: python update.py
      - name: Commit and Push
        run: |
          git config --global user.name "AutoUpdater"
          git config --global user.email "bot@github.com"
          git add playlist_bola.m3u
          git commit -m "Update playlist otomatis"
          git push
          
